{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/python.svg' %}" type="image/x-icon">
    {% block css_files %} {% endblock %}
    <title>{% block title %} {%endblock%}</title>
    <style>
        body {background-color: ##fefefe!important;}
        .coloring{background-color: #008888!important;}
    </style>
</head>
<body>
    {% block content %}{% endblock %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js_files %} {% endblock %}
</body>
</html>